# ------------------------------------------------------------------
# IAM service
# ------------------------------------------------------------------
## Keycloak
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=<strong_value>

# ------------------------------------------------------------------
# Portal service
# repo: https://github.com/ABI-CTT-Group/DigitalTWINS-Portal
# ------------------------------------------------------------------
# global
PLATFORM_DOMAIN=test.digitaltwins.auckland.ac.nz
PORTAL_BACKEND_HOST=test.digitaltwins.auckland.ac.nz
PORTAL_KEYCLOAK_BASE_URL=https://test.digitaltwins.auckland.ac.nz/auth
SSL=true
# Portal backend
DIGITALTWINS_API_BASE_URL=http://digitaltwins-api

# ------------------------------------------------------------------
# Metadata service
# ------------------------------------------------------------------

## SEEK
COMPOSE_PROJECT_NAME=digitaltwins-platform
DHO_TERMS=standard
LDH_RELEASE=v0.3.2
#LDH_RELEASE=latest
# Change to nginx.conf.https if called via https
NGINX_CONF=nginx.conf.http

## Postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=<strong_value>
POSTGRES_DB=digitaltwins
PGADMIN_DEFAULT_EMAIL=your.email@example.com
PGADMIN_DEFAULT_PASSWORD=<strong_value>

## Gen3
GEN3_ENABLED=false
GEN3_ENDPOINT=https://gen3
GEN3_CRED_FILE=./credentials.json
GEN3_SSL_CERT=./ca.pem

# ------------------------------------------------------------------
# Storage service
# ------------------------------------------------------------------

## MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=<strong_value>

# MinIO Client side (needs to match the above)
# used by portal-backend and MinIO init container and digitaltwins-api to manage objects
MINIO_SERVER_ACCESS_KEY=minioadmin
MINIO_SERVER_SECRET_KEY=<strong_value>
MINIO_BROWSER=off
MINIO_BROWSER_REDIRECT_URL=https://test.digitaltwins.auckland.ac.nz/minio-console


## IRODS

# ------------------------------------------------------------------
# Workflow service
# ------------------------------------------------------------------

## Airflow
AIRFLOW_UID=1001

# The _AIRFLOW_WWW_* ones really should be renamed in the DAG to something like
# DIGITALTWINS_API_USERNAME/PASSWORD to make clear what they're actually for —
# but that's a developer conversation, not a quick fix.
# _AIRFLOW_WWW_USER_PASSWORD also needs to match AIRFLOW_PASSWORD
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=<strong_value>

AIRFLOW_PORT=8002
AIRFLOW__CORE__FERNET_KEY=<strong_value>
AIRFLOW__API_AUTH__JWT_SECRET=<strong_value>
AIRFLOW__API__SECRET_KEY=<strong_value>
AIRFLOW_KEYCLOAK_CLIENT_ID=airflow
AIRFLOW_KEYCLOAK_CLIENT_SECRET=<strong_value>
AIRFLOW_PUBLIC_URL=https://test.digitaltwins.auckland.ac.nz/airflow

# ------------------------------------------------------------------
# Notebook service
# ------------------------------------------------------------------

## JupyterLab
JUPYTERLAB_ENABLED=true
JUPYTERLAB_URL=http://jupyterlab:8888
JUPYTERLAB_TOKEN=<strong_value>

# ------------------------------------------------------------------
# PACS service
# ------------------------------------------------------------------

## PACS (Orthanc)
ORTHANC_HTTP_PORT=8014
ORTHANC_DICOM_PORT=8015
ORTHANC_ADMIN_USER=admin
ORTHANC_ADMIN_PASSWORD=<strong_value>
ORTHANC_AET=digitaltwins

# ------------------------------------------------------------------
# EHR service
# ------------------------------------------------------------------

# hapi-fhir

# ------------------------------------------------------------------
# API service
# ------------------------------------------------------------------

## API

# keycloak configs for the API service
KEYCLOAK_ENABLED=true
KEYCLOAK_BASE_URL=http://keycloak:8080/auth
KEYCLOAK_REALM=digitaltwins
KEYCLOAK_ALGORITHM=RS256
KEYCLOAK_CLIENT_ID=api
KEYCLOAK_CLIENT_SECRET=<strong_value>

# seek configs for the API service
SEEK_ENABLED=true
SEEK_BASE_URL=http://seek:3000/seek
SEEK_API_TOKEN=<strong_value>

# postgres configs for the API service
POSTGRES_ENABLED=true
POSTGRES_HOST=database
POSTGRES_PORT=5432
# the three vars below are duplicated in the metadata/postgres service section
#POSTGRES_DB=
#POSTGRES_USER=
#POSTGRES_PASSWORD=

# minio configs for the API service
MINIO_ENABLED=true
MINIO_ENDPOINT=http://minio:9000

# irods configs for the API service
IRODS_ENABLED=false
IRODS_HOST=irods
IRODS_PORT=8005
IRODS_USER=
IRODS_PASSWORD=
IRODS_ZONE=
IRODS_PROJECT_ROOT=

# airflow configs for the API service
AIRFLOW_ENABLED=true
AIRFLOW_VERSION=3
AIRFLOW_ENDPOINT=http://airflow-apiserver:8080/airflow

# Must match _AIRFLOW_WWW_USER_USERNAME and _AIRFLOW_WWW_USER_PASSWORD
AIRFLOW_USERNAME=admin
AIRFLOW_PASSWORD=<strong_value>
AIRFLOW_WORKSPACE=

# database configs for the API service
DATABRICKS_ENABLED=false

# For proxying seek under the frontend
RAILS_RELATIVE_URL_ROOT=/seek

# Listen on these addresses (instead of the default 0.0.0.0)
JUPYTERLAB_BIND_ADDRESS=127.0.0.1
HAPI_FHIR_BIND_ADDRESS=127.0.0.1
KEYCLOAK_BIND_ADDRESS=127.0.0.1
ORTHANC_BIND_ADDRESS=127.0.0.1

PORTAL_BACKEND_BIND_ADDRESS=0.0.0.0
PORTAL_FRONTEND_BIND_ADDRESS=0.0.0.0
DIGITALTWINS_API_BIND_ADDRESS=0.0.0.0
AIRFLOW_POSTGRES_BIND_ADDRESS=0.0.0.0
MINIO_BIND_ADDRESS=0.0.0.0
AIRFLOW_BIND_ADDRESS=0.0.0.0
POSTGRES_BIND_ADDRESS=0.0.0.0
REDIS_BIND_ADDRESS=0.0.0.0


PORTAL_BACKEND_PORT=8001
DIGITALTWINS_API_PORT=8010
REDIS_PORT=8016
REDIS_PASSWORD=<strong_value>
AIRFLOW_POSTGRES_PORT=8013

AIRFLOW_POSTGRES_PASSWORD=<strong_value>
