services:
  keycloak:
    extends:
      file: ./services/keycloak/docker-compose.yml
      service: keycloak
    restart: unless-stopped
    networks:
      - digitaltwins
  postgres:
    extends:
      file: ./services/postgres/docker-compose.yml
      service: postgres
    restart: unless-stopped
    networks:
      - digitaltwins
  pgadmin: #optional. web interface for postgres
    extends:
      file: ./services/postgres/docker-compose.yml
      service: pgadmin
    restart: unless-stopped
    networks:
      - digitaltwins
  minio:
    extends:
      file: ./services/minio/docker-compose.yml
      service: minio
    restart: unless-stopped
    networks:
      - digitaltwins
  jupyterlab:
    extends:
      file: ./services/jupyterlab/docker-compose.yml
      service: jupyterlab
    restart: unless-stopped
    networks:
      - digitaltwins
#  hapi-fhir:
#    extends:
#      file: ./services/hapi-fhir/docker-compose.yml
#      service: hapi-fhir
#    restart: unless-stopped
#    networks:
#      - digitaltwins
#  hapi-fhir-postgres:
#    extends:
#      file: ./services/hapi-fhir/docker-compose.yml
#      service: hapi-fhir-postgres
#    restart: unless-stopped
#    networks:
#      - digitaltwins


volumes:
  keycloak_data:
    name: digitaltwins_keycloak_data
    driver: local
  pgdata:
    name: digitaltwins_pgdata
    driver: local
  pgadmin_data:
    name: digitaltwins_pgadmin_data
    driver: local
  minio_data:
    name: digitaltwins_minio_data
    driver: local
  hapi_fhir_postgres:
    name: digitaltwins_hapi_fhir_postgres
    driver: local

networks:
  digitaltwins:
    driver: bridge

# create networks if not exists
# sudo docker network create digitaltwins

# create volumes if not exists
# sudo docker volume create minio_data
