services:
  keycloak:
    extends:
      file: ./services/keycloak/docker-compose.yml
      service: keycloak
    restart: unless-stopped
    networks:
      - digitaltwins
  cadvisor:
    extends:
      file: ./services/cadvisor/docker-compose.yml
      service: cadvisor
    restart: unless-stopped
    networks:
      - digitaltwins
  portal-backend:
    extends:
      file: ./services/portal/DigitalTWINS-Portal/docker-compose.yml
      service: portal-backend
    restart: unless-stopped
    networks:
      - digitaltwins
  portal-frontend:
    extends:
      file: ./services/portal/DigitalTWINS-Portal/docker-compose.yml
      service: portal-frontend
    restart: unless-stopped
    networks:
      - digitaltwins
  database:
    extends:
      file: ./services/postgres/docker-compose.yml
      service: database
    restart: unless-stopped
    networks:
      - digitaltwins
  pgadmin: #optional. web interface for postgres
    extends:
      file: ./services/postgres/docker-compose.yml
      service: pgadmin
    restart: unless-stopped
    depends_on:
      - database
    networks:
      - digitaltwins
  minio:
    extends:
      file: ./services/minio/docker-compose.yml
      service: minio
    restart: unless-stopped
    networks:
      - digitaltwins
  digitaltwins-api:
    extends:
      file: ./services/api/digitaltwins-api/docker-compose.yml
      service: digitaltwins-api
    restart: unless-stopped
    depends_on:
      - keycloak
    networks:
      - digitaltwins

  jupyterlab:
    extends:
      file: ./services/jupyterlab/docker-compose.yml
      service: jupyterlab
    restart: unless-stopped
    networks:
      - digitaltwins

#  hapi-fhir:
#    extends:
#      file: ./services/hapi-fhir/docker-compose.yml
#      service: hapi-fhir
#    restart: unless-stopped
#    networks:
#      - digitaltwins
#  hapi-fhir-postgres:
#    extends:
#      file: ./services/hapi-fhir/docker-compose.yml
#      service: hapi-fhir-postgres
#    restart: unless-stopped
#    networks:
#      - digitaltwins

include:
  # to run only a specific included project with the root .env: sudo docker compose -f services/<service_name>/docker-compose.yml --env-file ./.env up
  - path:
    - services/airflow/docker-compose.yaml
    - services/airflow/network-override.yml
    project_directory: services/airflow
  - path:
    - services/seek/ldh-deployment/docker-compose.yml
    - services/seek/network-override.yml
    project_directory: services/seek/ldh-deployment
  - path:
    # PACS (Orthanc)
    - services/pacs/docker-compose.yml
    project_directory: services/pacs

volumes:
  keycloak_data:
    name: digitaltwins_keycloak_data
    driver: local
  portal_datasets:
    name: digitaltwins_portal_datasets
    driver: local
  plugin_database:
    name: digitaltwins_plugin_database
    driver: local
  pgdata:
    name: digitaltwins_pgdata
    driver: local
  pgadmin_data:
    name: digitaltwins_pgadmin_data
    driver: local
  minio_data:
    name: digitaltwins_minio_data
    driver: local
  hapi_fhir_postgres:
    name: digitaltwins_hapi_fhir_postgres
    driver: local

networks:
  digitaltwins:
    driver: bridge

# create networks if not exists
# sudo docker network create digitaltwins
