deploymentMode: SingleBinary

loki:
  auth_enabled: false

  commonConfig:
    replication_factor: 1

  storage:
    type: filesystem

  schemaConfig:
    configs:
      - from: 2026-01-01
        store: tsdb
        schema: v13
        object_store: filesystem
        index:
          prefix: loki_index_
          period: 24h

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    size: 60Gi

# Explicitly disable scalable targets
read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0
