# These env variables need to be set in order to use
# the building ansible scripts

# This is just for getting secrets
export GCLOUD_PROJECT=mygen3


# Keycloak client secret for the "api" client in the digitaltwins realm
export KEYCLOAK_CLIENT_SECRET=$(gsecret get digitaltwins_keycloak_api_client_secret)

# Admin password for the seek system
export SEEK_ADMIN_PASSWORD=$(gsecret get digitaltwins_dev_seek_admin)

# Keycloak admin password, if you want to set it.
# If unset the docker-compose.yaml on the keycloak service will use "admin"
export KC_BOOTSTRAP_ADMIN_PASSWORD=$(gsecret get digitaltwins_dev_keycloak_admin)

# for the seek docker-compose.env file
export MYSQL_ROOT_PASSWORD=$(gsecret get digitaltwins_mysql_root_password)
export MYSQL_PASSWORD=$(gsecret get digitaltwins_mysql_password)

MIMIR_MINIO_ROOT_USER=mimir-k3s
MIMIR_MINIO_SECRET_KEY=<strong_password>

# For build_observability_full.yaml
#    - GRAFANA_ADMIN_PASSWORD
# grafana admin password, if you want to set it.
export GRAFANA_ADMIN_PASSWORD=$(gsecret get digital_twins_grafana_admin)
export GRAFANA_OATH_SECRET=<strong_password>
