export MYSQL_ROOT_PASSWORD=
export MYSQL_PASSWORD=

export MIMIR_MINIO_ROOT_USER=mimir-k3s
export MIMIR_MINIO_SECRET_KEY=

export GRAFANA_ADMIN_PASSWORD=
export GRAFANA_OAUTH_SECRET=

export SEEK_ADMIN_PASSWORD=
export SEEK_ADMIN_EMAIL=
export PLATFORM_DOMAIN=test.digitaltwins.auckland.ac.nz
