name: Docker volume backup

on:
  # This is the key line for manual triggering from the GitHub UI
  workflow_dispatch:
#    # You can optionally define inputs that the user must provide when starting the workflow
#    inputs:
#      logLevel:
#        description: 'Logging level'
#        required: true
#        default: 'warning'
#        type: choice
#        options:
#          - info
#          - warning
#          - debug
#      environment:
#        description: 'Environment to deploy to'
#        required: true
#        type: environment

jobs:
  manual_job:
    runs-on: ubuntu-latest
    steps:
#      - name: Print inputs
#        run: |
#          echo "Log Level: ${{ github.event.inputs.logLevel }}"
#          echo "Environment: ${{ github.event.inputs.environment }}"
      - name: initiate backup
        run: echo "Sending backup command to docker host"

          # Replace user@host and the commands with your actual details:
          ssh -o StrictHostKeyChecking=no ${{ vars.DEV_DEPLOY_USER }}@${{ vars.DEV_DEPLOY_IP }} << 'EOF'
            cd digitaltwins-platform || exit 1
            ./buildout/util/backup.sh
            # --- End of remote commands ---
          EOF
